@import url('http://fonts.googleapis.com/css?family=Exo+2:400,700|Oswald:400,700');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html { overflow-y: scroll; }
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 1;
  color: #515151;
  /*padding: 25px 0;*/
  background: #e5e5e5 url('../img/brushed.png'); /*http://subtlepatterns.com/white-brushed/ */
}

br { display: block; line-height: 1.6em; } 

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

input, textarea { 
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; 
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong, b { font-weight: bold; }
em, i { font-style: italic; }

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

h1 {
  font-family: 'Exo 2', sans-serif;
  font-size: 20px;
  line-height: 1.75em;
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.8);
}


/** page structure **/
#p, #v, #t {
  display: block;
  max-width: 1106px;/*830px*/
  min-width: 250px;
  margin: 0 auto;
  padding: 0px 3px;
}


/** posts slider widget **/
.crsl-items_p, .crsl-items_v, .crsl-items_t {
  display: block;
  padding: 5px;
  overflow-y:auto !important;
  margin:0 0 0 5px;
}

.crsl-item {
  background: #fff;
  float: left;
  min-width:180px;
  max-width:200px;
  min-height:210px;
  margin: 8px;
  padding: 8px;
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 2px 3px rgba(0,0,0,0.4);
  box-shadow: 0 2px 3px rgba(0,0,0,0.4);
}

.crsl-item .thumbnail {
  display: block;
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
}
.crsl-item .thumbnail img { 
  display: block; /* fix 1px image space http://stackoverflow.com/q/5804256/477958 */
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.crsl-item .thumbnail:hover img {
  opacity: 0.8;
}

.crsl-item h3 {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.25em;
  margin-bottom: 12px;
}
.crsl-item h3 a {
  text-decoration: none;
  color: #333;
}
.crsl-item h3 a:hover {
  text-decoration: underline;
}

.crsl-item .postdate {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 6px;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
  font-size: 1.2em;
  font-weight: bold;
  background: #219EDE;
}

.crsl-item p {
  font-size: 1.2em;
  line-height: 1.55em;
  margin-bottom: 5px;
}

.crsl-item p.readmore a {
  display: block;
  float: right;
  color: #219EDE;
  padding: 3px 5px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.crsl-item p.readmore a:hover {
  background: #4b6caa;
  color: #fff;
}

/** posts slider nav **/
.slidernav {
  display: block;
  text-align: center;
  margin: 10px 0;
}

.slidernav a {
  display: inline-block;
  padding: 5px 8px;
  margin-right: 8px;
  font-size: 1.4em;
  background: #51c117;
  color: #fff;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 2px 2px 0px rgba(26,62,7,0.2);
  -moz-box-shadow: 2px 2px 0px rgba(26,62,7,0.2);
  box-shadow: 2px 2px 0px rgba(26,62,7,0.2);
}
.slidernav a:active {
  -webkit-box-shadow: 1px 1px 0 rgba(26,62,7,0.2);
  -moz-box-shadow: 1px 1px 0 rgba(26,62,7,0.2);
  box-shadow: 1px 1px 0 rgba(26,62,7,0.2);
}


/** media queries **/
@media screen and (max-width: 660px) {
  h1 { font-size: 2.4em; line-height: 1.2em; }
  
  .crsl-item h3 { font-size: 1.65em; }
  .crsl-item {width:210px !important;}
}

/** clearfix 
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
 
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }**/


/* menu starts */
.menu-bar{
	  background: #000000;
	  /* border-top: #52C718 5px solid; */
	  width: 100%;
	  height: 42px;
	  padding: 0px 0;
	  margin: 0 auto;
	  position: relative;
}
.top-menu{
	float:left;
	color:#ffffff;
	line-height:8px;
	margin:0 0 0 7%;
}
.login-section{
	float:right;
	color:#ffffff;
	margin-right:7%;
}
.top-menu ul li{
	display:inline-block;
	margin:0 10px 5px;
}
.top-menu ul li.active {
	margin-left:0;
}
.top-menu ul li a{
	text-decoration:none;
	margin:0;
	display:block;
	color: #ffffff;
	font-size:14px;
	font-weight:600;
	text-transform:uppercase;
	padding: 17px 0;
}
.top-menu ul li.active a{
	color:#52C718;
}
.top-menu ul li a:hover{
	color:#52C718;
}
.login-section ul li{
	display:inline-block;
	margin: 0 10px; 
}
.login-section ul li.active a{
	color:#ffffff;
}
.login-section ul li a{
	margin:0;
	display:block;
	color: #ffffff;
	font-size:12px;
	font-weight:500;
	text-decoration:none;
	text-transform:capitalize;
}
.login-section ul li a:hover{
	color:#52C718;
}
.login-section ul li span{
	color:#52C718;
	font-weight:700;
}

.top-menu
{
	display: block;
}
.menu-toggler
{
	float: left;
	display: none;
}
.mb_menuicon{
	float:left;
	margin-left:10px;
	padding: 6px 0;
}
.mb_welcome{
	float:left;
	margin:10px 0 0 10px;
	color:#ffffff;
		font-size:12px;
}
.mb_welcome span{
	color:#52C718;
	font-weight:bold;
}
.desk_welcome{
	font-size:12px;	
}
/* menu ends */

.con_hed_blk{
	width:98%;
	margin:0 0 0 0;
}
.con_head{
	float:left;
	padding:0 0 0 20px;
}
.con_head h1{
	font-size:16px;	
}

.con_search{
	float:right;	
}
.con_search input[type=text]{
	width:210px;
	height:30px;
	background:#fff;
	border-radius:5px 0 0 5px; 
	-moz-border-radius:5px 0 0 5px; 
	-webkit-border-radius:5px 0 0 5px;
	text-indent:10px;
	border:none;
	outline:none;
	font:14px normal Arial, Helvetica, sans-serif;
	color:#999;
	padding:0;
	margin:0;
}
.con_search input[type=button], .search_btn{
	width:35px;
	background:#219EDE url(../img/search.png) no-repeat 8px 5px;
	border-radius:0 5px 5px 0;
	-moz-border-radius:0 5px 5px 0; 
	-webkit-border-radius:0 5px 5px 0;
	border:none;
	outline:none;
	cursor:pointer;
	padding:6px 0 6px;
	margin:15px 0 0 -10px;
}
.logo_con{
	/*margin:0 auto;
	text-align:center;*/
	float:left;
	margin:5px 0;	
}

@media screen and (min-width: 900px)
{
	/* menu starts */
	.top-menu{
	  display: block;
	}
	.mb_welcome{
	display:none;	
	}
	/* menu starts */
}
@media screen and (max-width: 899px)
{
	.ddwidth{
		margin:5px 0;
	}
	.dev_footer, .fscn_footer{
		clear:both !important;
		float:none !important;
		text-align:center;
		margin:0 auto;	
	}
	.fscn_footer{
		/*padding-bottom:5px;	*/
	}
	.fscn_footer ul li{
		margin-bottom:5px !important;
		float:none !important;
		display:inline-block;
		text-align:center;
	}
	.con_head{
		clear:both;
		float:none;
		text-align:center;
		margin:0 auto;
	}
	.con_search{
		clear:both;
		float:none;
		margin:0 auto;
	}
	.mb_con_search{
		margin:0 auto !important;
		text-align:center;	
	}
	.con_search input[type="button"], .search_btn {
	margin-top:0px;	
	}

	/* menu starts */
	.mbline{
		display:none;	
	}
	.desk_welcome{
		display:none !important;
		margin-top:-20px !important;
	}
	.menu-bar, .top-menu{
	z-index:9999 !important;	
	}
	.menu-toggler{
		text-align:center;
		display: block;
		clear:both;
	}
	.top-menu{
		display:none;
		margin:0px;
		padding:0;
		width: 100%;
		line-height:15px;
		background:#0896d6;
		clear:both;
		float:left;
	}
	.top-menu ul{
		background:#0896d6;
		margin:0 !important;
		padding:5px 10px !important;
	}
	
	.top-menu ul li{
		text-align:left;
		display: block;
		padding:5px 0;
		border:none;
		margin: 0;
		border-bottom: 1px dotted #38e1ff;
	}
	.top-menu ul li a{
		color:#fff;	
	}
	.top-menu ul li a:hover{
		color:#000;	
	}
	.login-section{
		width: 100%;
		clear:both;
		margin-top:0px;
	}
	.login-section  ul  li{
		text-align:left;
		text-decoration:none;
		font-weight:bold;
		display: block;
		padding: 5px 0;
		border:none;
		margin: 0;
		border-bottom: 1px dotted #38e1ff;
	}
	/* menu ends */
}

.clrscr{
	clear:both;	
}

/* tab animation & css start */

@import url(http://fonts.googleapis.com/css?family=Raleway:100,200,300);
@-webkit-keyframes content-opacity {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-moz-keyframes content-opacity {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-o-keyframes content-opacity {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@keyframes content-opacity {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-webkit-keyframes content-rotate-y {
  from {
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg); }

  to {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg); } }

@-moz-keyframes content-rotate-y {
  from {
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg); }

  to {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg); } }

@-o-keyframes content-rotate-y {
  from {
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg); }

  to {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg); } }

@keyframes content-rotate-y {
  from {
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg); }

  to {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg); } }

@-webkit-keyframes content-rotate-x {
  from {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg); }

  to {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg); } }

@-moz-keyframes content-rotate-x {
  from {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg); }

  to {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg); } }

@-o-keyframes content-rotate-x {
  from {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg); }

  to {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg); } }

@keyframes content-rotate-x {
  from {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg); }

  to {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg); } }

@-webkit-keyframes content-rotate-both {
  from {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 0% 50% 50%;
    -moz-transform-origin: 0% 50% 50%;
    -ms-transform-origin: 0% 50% 50%;
    -o-transform-origin: 0% 50% 50%;
    transform-origin: 0% 50% 50%; }

  to {
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 0% 50% 50%;
    -moz-transform-origin: 0% 50% 50%;
    -ms-transform-origin: 0% 50% 50%;
    -o-transform-origin: 0% 50% 50%;
    transform-origin: 0% 50% 50%; } }

@-moz-keyframes content-rotate-both {
  from {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 0% 50% 50%;
    -moz-transform-origin: 0% 50% 50%;
    -ms-transform-origin: 0% 50% 50%;
    -o-transform-origin: 0% 50% 50%;
    transform-origin: 0% 50% 50%; }

  to {
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 0% 50% 50%;
    -moz-transform-origin: 0% 50% 50%;
    -ms-transform-origin: 0% 50% 50%;
    -o-transform-origin: 0% 50% 50%;
    transform-origin: 0% 50% 50%; } }

@-o-keyframes content-rotate-both {
  from {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 0% 50% 50%;
    -moz-transform-origin: 0% 50% 50%;
    -ms-transform-origin: 0% 50% 50%;
    -o-transform-origin: 0% 50% 50%;
    transform-origin: 0% 50% 50%; }

  to {
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 0% 50% 50%;
    -moz-transform-origin: 0% 50% 50%;
    -ms-transform-origin: 0% 50% 50%;
    -o-transform-origin: 0% 50% 50%;
    transform-origin: 0% 50% 50%; } }

@keyframes content-rotate-both {
  from {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 0% 50% 50%;
    -moz-transform-origin: 0% 50% 50%;
    -ms-transform-origin: 0% 50% 50%;
    -o-transform-origin: 0% 50% 50%;
    transform-origin: 0% 50% 50%; }

  to {
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 0% 50% 50%;
    -moz-transform-origin: 0% 50% 50%;

    -ms-transform-origin: 0% 50% 50%;
    -o-transform-origin: 0% 50% 50%;
    transform-origin: 0% 50% 50%; } }

@-webkit-keyframes content-pop-out {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }

@-moz-keyframes content-pop-out {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }

@-o-keyframes content-pop-out {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }

@keyframes content-pop-out {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes content-pop-in {
  from {
    opacity: 1;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }

@-moz-keyframes content-pop-in {
  from {
    opacity: 1;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }

@-o-keyframes content-pop-in {
  from {
    opacity: 1;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }

@keyframes content-pop-in {
  from {
    opacity: 1;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes content-slide-bot {
  from {
    top: 20px;
    opacity: 0; }

  to {
    top: 0px;
    opacity: 1; } }

@-moz-keyframes content-slide-bot {
  from {
    top: 20px;
    opacity: 0; }

  to {
    top: 0px;
    opacity: 1; } }

@-o-keyframes content-slide-bot {
  from {
    top: 20px;
    opacity: 0; }

  to {
    top: 0px;
    opacity: 1; } }

@keyframes content-slide-bot {
  from {
    top: 20px;
    opacity: 0; }

  to {
    top: 0px;
    opacity: 1; } }

@-webkit-keyframes content-slide-top {
  from {
    top: -20px;
    opacity: 0; }

  to {
    top: 0px;
    opacity: 1; } }

@-moz-keyframes content-slide-top {
  from {
    top: -20px;
    opacity: 0; }

  to {
    top: 0px;
    opacity: 1; } }

@-o-keyframes content-slide-top {
  from {
    top: -20px;
    opacity: 0; }

  to {
    top: 0px;
    opacity: 1; } }

@keyframes content-slide-top {
  from {
    top: -20px;
    opacity: 0; }

  to {
    top: 0px;
    opacity: 1; } }

/* used for wrapper animation after the load of the page */
@-webkit-keyframes show {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-moz-keyframes show {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-o-keyframes show {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@keyframes show {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }


.tabs-wrapper {
  margin: 20px 8%; }
  .tabs-wrapper input[type=radio] {
    display: none; }
  .tabs-wrapper label {
    transition: background 0.4s ease-in-out, height 0.2s linear;
    display: inline-block;
    cursor: pointer;
    color: #dbdbd3;
    width: 20%;
    height: 3em;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: #525252;
    text-align: center;
    line-height: 3em;
	font-size:14px;
	font-weight:bold; }
    .tabs-wrapper label:last-of-type {
      border-bottom: none; }
    .tabs-wrapper label:hover {
      background: #667876;
      /*@include transform (translate(0,-0.2em));*/ }
    @media screen and (max-width: 1600px) {
      .tabs-wrapper label {
        width: 15%; } }
    @media screen and (max-width: 900px) {
      .tabs-wrapper label {
        width: 20%; } }
    @media screen and (max-width: 600px) {
	  .tabs-wrapper {margin: 0; clear:both;}
      .tabs-wrapper label {
        width: 100%;
        display: block;
        border-bottom: 2px solid #4d4c47;
        border-radius: 0; } 
		}

#tab1:checked + label, #tab2:checked + label, #tab3:checked + label, #tab4:checked + label {
  background: #51c117;
  color: #f2f2f2; }

.tab-body {
  position: absolute;
  top: -9999px;
  opacity: 0;
  padding: 10px; }

.tab-body-wrapper {
  min-height: 460px;
  background: #d5d5d5;/*f7eec6*/
  border-top: #51c117 5px solid;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-animation-delay: 0.2s;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-name: show;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-delay: 0.2s;
  -moz-animation-duration: 1.5s;
  -moz-animation-name: show;
  -moz-animation-fill-mode: forwards;
  -o-animation-delay: 0.2s;
  -o-animation-duration: 1.5s;
  -o-animation-name: show;
  -o-animation-fill-mode: forwards;
  animation-delay: 0.2s;
  animation-duration: 1.5s;
  animation-name: show;
  animation-fill-mode: forwards; }
  @media screen and (max-width: 600px) {
    .tab-body-wrapper {
      border: none;
      border-radius: 0; } }

#tab1:checked ~ .tab-body-wrapper #tab-body-1, #tab2:checked ~ .tab-body-wrapper #tab-body-2, #tab3:checked ~ .tab-body-wrapper #tab-body-3, #tab4:checked ~ .tab-body-wrapper #tab-body-4 {
  position: relative;
  top: 0px;
  /* Choose one */
  -webkit-animation-delay: 0.2s;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-name: content-opacity;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-delay: 0.2s;
  -moz-animation-duration: 0.8s;
  -moz-animation-name: content-opacity;
  -moz-animation-fill-mode: forwards;
  -o-animation-delay: 0.2s;
  -o-animation-duration: 0.8s;
  -o-animation-name: content-opacity;
  -o-animation-fill-mode: forwards;
  animation-delay: 0.2s;
  animation-duration: 0.8s;
  animation-name: content-opacity;
  animation-fill-mode: forwards;
  /* @include animation(0.2s,0.8s,content-rotate-x); */
  /* @include animation(0.2s,0.8s,content-rotate-y); */
  /* @include animation(0.2s,0.8s,content-rotate-both); */
  -webkit-animation-delay: 0.2s;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-name: content-pop-in;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-delay: 0.2s;
  -moz-animation-duration: 0.8s;
  -moz-animation-name: content-pop-in;
  -moz-animation-fill-mode: forwards;
  -o-animation-delay: 0.2s;
  -o-animation-duration: 0.8s;
  -o-animation-name: content-pop-in;
  -o-animation-fill-mode: forwards;
  animation-delay: 0.2s;
  animation-duration: 0.8s;
  animation-name: content-pop-in;
  animation-fill-mode: forwards;
  /* @include animation(0.2s,0.8s,content-pop-out); */
  /* @include animation(0.1s,1s,content-slide-bot); */
  /*@include animation(0.1s,1s,content-slide-top);*/ }
  
/* tab animation & css ends */


/*.inner_wrap{
	height:auto;	
}*/

/* footer starts  */
.fleft{
	float:left;	
}
.fright{
	float:right;
}
.ddwidth{
	width:100%;
	/*padding:8px 0 0 0;*/
	height:25px;
	font-size:12px;
}
/*.msie .ddwidth{
 background: transparent;
zoom:1;
-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#20FF8040, endColorstr=#20FF8040)";
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#20FF8040, endColorstr=#20FF8040);
}*/
.dev_footer{
	margin:0 8% 0 0;
	color:#404040;
	/*-webkit-text-stroke: 1px black;
   text-shadow:
       1px 1px 0 #333,
     -1px -1px 0 #333,  
      1px -1px 0 #333,
      -1px 1px 0 #333,
       1px 1px 0 #333;*/
}
.dev_footer a{
	color:#404040;
	text-decoration:underline;
}
.dev_footer a:hover{
	color:#0896d6;
	text-decoration:none;
}
.fscn_footer{
	float:left;
	margin:0 0 10px 7%; 
	/*-webkit-text-stroke: 1px black;
   text-shadow:
       1px 1px 0 #333,
     -1px -1px 0 #333,  
      1px -1px 0 #333,
      -1px 1px 0 #333,
       1px 1px 0 #333;*/
}
.fscn_footer ul{
	list-style:none;
}
.fscn_footer ul li{
	float:left;
	list-style:none;
	margin:0 10px;
}
.fscn_footer ul li a{
	color:#404040;
	text-decoration:none;	
}
.fscn_footer ul li a:hover{
	color:#0896d6;
	text-decoration:underline;
}
/* footer ends */

/* saf3+, chrome1+ */
@media screen and (-webkit-min-device-pixel-ratio:0) {
/* Safari and Chrome */
.con_search input[type=button], .search_btn{
	padding:4px 0 10px;
}
.con_search input[type=text]{
	margin:0px;
 }
 /* Safari 5+ ONLY 
::i-block-chrome, .inp_pfix {
 	margin-top:10px; color:red;
}*/
}

_::-moz-svg-foreign-content, :root .inp_pfix { margin-top:14px;}
_::-moz-svg-foreign-content, :root .img_pfix { margin-top:10px;}
_::-moz-svg-foreign-content, :root .aft_rdo_mar { margin-top:50px !important;}
_::-moz-svg-foreign-content, :root .aft_up_mar { margin-top:19px; }

 .aft_rdo_mar{
	margin-top:44px !important;
 }
 
.con_cat_right{
	float:right;	
}
.con_cat_right label{
	width:100px;	
}
.tabs-wrapper .con_cat_right .act_sel{
	color:#52C310;
}
.sel_lang{
color:#404040;
margin:15px 10px 0 0;
padding:5px;
background:#D6D7D6;
border:none; /* #808080 1px solid; */
outline:none;
}
.head_con{
width:86%;
margin:0 7%;	
}
.main_wrap{
width:86%;
height:auto;
min-height:460px;
margin:0 7% 15px 7%;
padding:15px auto;
background:#D6D7D6;
-webkit-border-radius: 0 4px 4px 4px;
-moz-border-radius: 0 4px 4px 4px;
border-radius: 0 4px 4px 4px;
border-top:#51c117 5px solid;
/*position:absolute;*/
z-index:95;
}
.main_head{
background-color:#51c117;
width:150px;
height:3em;
padding:15px 20px;
margin:15px 7% 0 7%;
color:#fff;
font-size:14px;
font-weight:bold;
-webkit-border-radius: 4px 4px 0 0;
-moz-border-radius: 4px 4px 0 0;
border-radius: 4px 4px 0 0;
}

@media screen and (max-width: 500px) {
	.sel_lang {
		clear:both;
		float:none;
		margin:0 auto 10px;
	}
}

/* form style starts */
.loginform {text-align:center; width:40%; float:left; }
.mar1{margin:4px 1% 4px 8%;}
.mar2{margin:4px 1% 4px 2%;}

.loginbox h1 { font-size: 30px; letter-spacing: 1px; color: #555; font-weight: normal; padding-top: 10px; }
.loginbox p { margin: 5px 0 5px 0; }
.loginbox p a { margin:5px 0 5px 0; color:#0896d6; text-decoration:none; font-size:12px; }
.loginbox p a:hover { color:#404040; text-decoration:none; }
.loginbox label { display: block; color: #666; /*letter-spacing: 1px;*/ font-size: 18px; }
.loginbox input.mini { width:195px; }
.loginbox input { 
	padding: 12px 10px; color: #000; 
	font-family: Arial, Helvetica, sans-serif; margin-top: 8px; font-size: 15px; border: 1px solid #ccc; width: 420px;  outline: none;
}
.loginbox textarea { 
	padding: 12px 10px; color: #000; 
	font-family: Arial, Helvetica, sans-serif; margin-top: 8px; font-size: 15px; border: 1px solid #ccc; width: 420px;  outline: none; min-height:75px;
}
.loginbox select{padding: 11px 10px; color: #000; font-family: Arial, Helvetica, sans-serif; margin-top: 8px; font-size: 15px; border: 1px solid #ccc; width: 420px;  outline: none; text-indent:20px;}
.loginbox button { 
	background: #51c117; background-image:-webkit-linear-gradient(top, #51c117, #377f10); padding: 10px 20px; font-size: 14px; border: 1px solid #4bb215;/* letter-spacing: 1px;*/ color: #fff; /*width: 440px;*/ line-height:15px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight:bold;
	-moz-box-shadow: 1px 1px 3px #275e0b; -webkit-box-shadow: 1px 1px 3px #275e0b; box-shadow: 1px 1px 3px #275e0b; cursor: pointer;
}
.loginbox button:hover{
backgroud-color:#21A2DE;	
}
.inp_pfix{
width:40px; height:41px;
position:absolute;
background:	#333;
color:#fff;
padding:8px 0 0 0;
margin:9px 0 0 21px;
z-index:99;
-moz-border-radius: 5px 0 0 5px; -webkit-border-radius: 5px 0 0 5px; border-radius: 5px 0 0 5px;
}
.img_pfix{
width:50px; height:50px;
position:absolute;
background:	#333;
color:#fff;
margin:5px 0 0 22px;
padding:2px 0 0 0;
-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}
.inp_file{
border:none !important; padding:0; margin:3px 0 0px 75px !important;	
}
.mulsel{
width:420px;
height:40px;
/*text-indent:45px;*/
padding:10px 0 10px 50px !important;
line-height:25px;
}
.mulsel option{
padding:5px 0;	
}

.pfix_mar{
text-indent:45px;
}
.radius { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.radius1 { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.martop_10{
margin:15px 0;	
}
.roundedimg{
-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; 
}
.mbblk{display:none;}

/* saf3+, chrome1+ 
@media screen and (-webkit-min-device-pixel-ratio:0) {
.SlectBox, .SlectBoxa {width:96% !important; margin-left:5px !important; font-weight:normal !important;}
}
::root .inp_pfix{ margin-top: 10px !important; }*/

@media screen and (max-width: 250px) {
.top-menu { z-index:99999 !important; position:absolute; }
}

@media screen and (max-width: 1025px) {
	
	body { font-size: 11px; }
	button, input, select, textarea { font-size: 11px; }
	
	.loginbox { width: auto; margin: 10px; }
	.loginbox input { width: 95%; }
	.loginbox button { width: 100%; }
	.inp_pfix{margin-left:7px !important;}
	.pfix_mar{text-indent:35px !important;}
	.loginform{float:none;}
	.SlectBox, .SlectBoxa {width:96% !important;padding-left:37px !important; margin-left:5px !important; font-weight:normal !important;}
	.CaptionCont > span { padding-left: 12px !important; padding-right: 141px !important; text-overflow:unset !important;}
	.myLabel {margin-left:15px !important; padding-left:40px !important; width:92% !important;}
	.mb_upimg{margin-left:3px !important;}
	.mbmt{margin-top:5px;}
	.loginbox textarea {width:95%;}
	.mbnone{ display:none;}
	.mbblk{ display:block;}
	.mbblk select{ width:95%; font-size:13px; margin:10px 5px; background:#52C310; color:#fff;}
	.crsl-item h3 a { font-size:13px; }
	.crsl-item .postdate { font-size:12px; }
	.mbmulsel { padding-left: 12px !important; padding-right: 50px !important; text-overflow:ellipsis;}
	.SumoSelect { display: block !important; margin-top:18px !important; }
	.mbselcat { margin-top:10px !important; }
	.mbmtop { margin-top:14px; }
	.cont_img_con{ width:100% !important; }
	.cont_det_con{ width:100% !important; }
	.cont_org, .cont_spon{ float:none !important; clear:both;}
}	
/* form style ends */

.active1 a{
color:#52C310 !important;
font-weight:bold !important;	
}

label.myLabel input[type="file"] {
    position: fixed;
    top: -1000px;
}

/***** Example custom styling *****/
.myLabel {
   /* border: 2px solid #AAA;*/
   width:410px;
    border-radius: 4px;
    padding: 12px 0 12px 50px;
    margin: 15px 20px 10px 30px;
	height:40px;
    background: #fff;
    display: inline-block;
	font-size:14px !important;
	font-weight:normal;
	text-align:left;
}
.myLabel:hover {
    background: #fff;
}
.myLabel:active {
    background: #fff;
}
.myLabel :invalid + span {
    color: #525152;
}
.myLabel :valid + span {
    color: #525152;
}
#ui-datepicker-div{
	z-index:999 !important;	
}
.ui-timepicker-div{
	width:95%;
	margin:0 auto;
}
.ui-timepicker-div dl dt{
	margin:5px 0;	
}


/* contest info page start */
.cont_img_con{
	width:30%;
	margin:1% 1% 2% 1%;
	min-height:30px;
	float:left;
	background:#000;
}
.cont_img_con strong{
	color:#52C310;	
}
.cont_img{
	width:100%;
	/*min-width:334px;*/
	min-height:250px;
	padding:1%;		
}
.cont_list{
	font-size:13px;
	font-weight:normal;
	color:#fff;
	line-height:25px;
	text-indent:20px;
}
.cont_list .name{
	font-size:13px;
	font-weight:bold
}
.con_list div span{
	font-weight:bold;	
}
.cont_det_con{
	width:67%;
	padding:1%;
	margin:1% 0;
	float:left;
}
.cont_det_con p{
	font-size:12px;
	color:#313031;
	line-height:20px;
	text-align:justify;	
}
.cont_det_con strong{
	font-size:13px;
	color:#313031;
	font-weight:bold;
	line-height:30px;
	text-align:center;
}

.srl_h8{
	height:160px;
	overflow-y:auto;
	margin-bottom:10px;
	background:#ccc;
	border:#999 1px solid;
	padding:10px;
}

.cont_des_btm{
	width:100%;	
}
.cont_org, .cont_spon {
	margin:1% 5%;
	text-align:center;
}

.cont_org img{
	width:120px;
	height:120px;
	border:#0896DE 5px solid;	
}
.cont_spon img{
	width:120px;
	height:120px;
	border:#52C310 5px solid;	
}
.bgt_box{
	color:#fff;
	line-height:20px;
	font-size:12px;
	font-weight:bold;
	margin:0 0 10px 0;
}
.blutxt{
	background:#0896DE;
}
.grntxt{
	background:#52C310;
}
.cont_det_con h1{
	line-height: 0.25em;
  	margin-bottom: 10px;
}
/* contest info page ends */
form input, form textarea, form select{	
font-family: Arial, Helvetica, sans-serif !important;
font-weight:normal !important;
font-size:13px !important;
color:#444444 !important;
}


.top-menu
{
	display: block !important;
}
@media screen and (min-width: 900px)
{
	.tog-wrap
	{
		display: block !important;
		position: relative;
		
	}
}
@media screen and (max-width: 899px)
{
	.tog-wrap
	{
		position: absolute;
		width: 100%;
		top: 100%;
		left: 0px;
		display: none;
		background:red;
	}
	.top-menu ul li a {
	    padding: 6px 0;
	}
	.mb_welcome span {
	    line-height: 24px;
	}
	.mb_brk{
		clear:both;
	}
	.rdogrp label{
		padding-right:1px !important;
		margin:5px 0 !important;	
	}
	.rdomt59{
		margin-top:77px !important;	
	}
	.mb_sel_mt{
		margin-top:14px;	
	}
}

.rdogrp{
	float:left;
	width:100%;
}
.rdogrp label{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:normal;
	padding:5px 10px 5px 5px;
	margin:10px 0 0 15px;
}
.rdogrp input, .rdogrp label{
	float:left;	
}
.rdomt59{
	margin-top:44px;
}
.form_mid input[type=radio], .form_mid input[type=checkbox] {
    display:none;
}
.form_mid input[type=radio] + label:before {
    content: "";  
    display: inline-block;  
    width: 15px;  
    height: 15px;  
    vertical-align:middle;
    margin-right: 8px;  
    background-color: #aaa;  
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, .3);
    border-radius: 8px;  
}
.form_mid input[type=checkbox] + label:before {
    content: "";  
    display: inline-block;  
    width: 15px;  
    height: 15px;  
    vertical-align:middle;
    margin-right: 8px;  
    background-color: #aaa;  
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, .3);
    border-radius: 4px;  
}
.form_mid input[type=radio]:checked + label:before {
    content: "\2022"; /* Bullet */
    color:white;
    background-color: #666; 
    font-size:1.8em;
    text-align:center;
    line-height:14px;
    text-shadow:0px 0px 3px #eee;
}
.form_mid input[type=checkbox]:checked + label:before {
    content:"\2714"; /* Tick */
    color:white;
    background-color: #666; 
    text-align:center;
    line-height:15px;
    text-shadow:0px 0px 3px #eee;
}
/*.tabs-wrapper input[type=radio], .tabs-wrapper input[type=checkbox]{
	display:none;	
}
.tabs-wrapper .tab-head{
	displaly:none;	
}*/
.crsl-item h3{
	font-weight:bold;
	color:#404040;	
}
.crsl-item p{
	min-height:105px;	
}
.form_mid legend{
	width:100%;
	font-weight:bold;
	font-size:12px;	
	margin:10px 0;
	background:#e7e7e7;
	border:#999 1px solid;
	padding:15px 0;	
}
.leg_head{
	/*background:#0896D6;
	padding:5px 15px;*/
	color:#0896D6;
	font-size:14px;
}
@media screen and (min-width: 1026px) and (max-width: 1300px) {
	.inp_pfix, .img_pfix {
	margin-left:8px !important;	
	}
	.myLabel {
	margin-left:14px !important;	
	}
}

@media screen and (min-width: 1440px) and (max-width: 1500px) {
	.myLabel {
	margin-left:42px !important;	
	}
}
@media screen and (min-width: 1501px) and (max-width: 1640px) {
.myLabel {
	margin-left:62px !important; width:420px !important;
	}
}
@media screen and (min-width: 700px) and (max-width: 800px) {
.myLabel {
	margin-left:33px !important;
	}
}